@import url(variables.css);

html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;
  /*intentions*/
--primary: var(--light-blue);
--secondary: var(--dark-blue);

  /* Typography */
  --h1: 60px;
  --h2: 40px;
  --h3: 27px;
  --h4: 18px;
  --h5: 12px;
}
h1{
  font-size: var(--h1);
}
h1, p {
  text-align: center;
}

button {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:hover {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.foods{
  border-radius: 20px;
  margin: 0 auto;
  border: 2px solid black;
  width: 23%;
  height: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
img {
  margin: 0 auto;
  height: 250px;
  width: 350px;
  max-width: 100%;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  justify-content: center;
}